* {
  border: none;
  border-radius: 0;
  font-family: "Fira Code:style=Regular", "Consolas";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #b4aeb2;
}

tooltip {
  background: #11191c;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #2b2b2b;
}

#workspaces button {
  padding: 5px;
  color: #b4aeb2;
  margin-right: 5px;
}

#workspaces button.active {
  color: #b4aeb2;
  background-color: #11191c;
}

#workspaces button.focused {
  color: #b4aeb2;
  background: #2b2b2b;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11191c;
  background: #b4aeb2;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #2b2b2b;
  color: #b4aeb2;
  border-radius: 5px;
}

#custom-power_profile,
#custom-weather,
#custom-moon,
#custom-wallpaper,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#custom-temperature,
#custom-memory,
#workspaces,
#tray,
#backlight {
  background: #11191c;
  color: #b4aeb2;
  opacity: 0.7;
  padding: 0px 10px;
  margin: 0px 0px;
  margin-top: 10px;
  border: 1px solid #2b2b2b;
}

/* Style the window module when no windows are present */
window#waybar.empty #window {
  opacity: 0;
}

#workspaces { 
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#custom-temperature,
#network,
#backlight {
  border-radius: 10px 0px 0px 10px;
  border-right: 0px;
}

#custom-memory,
#bluetooth,
#pulseaudio.microphone {
  border-radius: 0px 10px 10px 0px;
  border-left: 0px;
  margin-right: 10px;
}

#battery,
#window,
#clock {
  border-radius: 10px;
  margin-left: 10px;
}

#pulseaudio,
#custom-power_profile {
  border-left: 0px;
  border-right: 0px;
}

#battery.warning,
#battery.critical {
  background: #2b2b2b;
}

#custom-temperature.critical {
  color: #ff6b6b;
}

#custom-power_profile {
  color: #b4aeb2;
  border-left: 0px;
  border-right: 0px;
}

#custom-moon {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
  margin-left: 0px;
}
