* {
  border: none;
  border-radius: 0;
  font-family: "Fira Code";
  font-weight: bold;
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #b4aeb2;
}

tooltip {
  background: #11191c;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #2b2b2b;
}

#workspaces button {
  background: #11191c;
  color: #b4aeb2;
  opacity: 0.7;
  margin-top: 10px;
  border: 1px solid #2b2b2b;
}

#workspaces button.active {
  color: #11191c;
  background-color: #b4aeb2;
}

#workspaces button.focused {
  color: #11191c;
  background: #b4aeb2;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11191c;
  background: #b4aeb2;
}

#workspaces button:hover {
  background: #2b2b2b;
  color: #b4aeb2;
}

#power_profile,
#weather,
#moon,
#wallpaper,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#memory,
#cpu,
#tray,
#backlight {
  background: #11191c;
  color: #b4aeb2;
  opacity: 0.7;
  padding: 0px 10px;
  margin-top: 10px;
  border: 1px solid #2b2b2b;
}
 
#window {
  margin-left: 10px;
  font-style: italic;
  opacity: 0.7;
  font-size: 14px;
  padding: 0 10px;
}

/* Style the window module when no windows are present */
window#waybar.empty #window {
  font-style: normal;
  opacity: 0; /* Set opacity to 0 to hide the text when no windows are present */
}

#workspaces { 
  margin-left: 10px;
}

#tray {
  margin-right: 10px;
}

#temperature,
#network,
#backlight,
#cpu {
  border-right: 0px;
}

#memory,
#bluetooth,
#pulseaudio.microphone {
  border-left: 0px;
  margin-right: 10px;
}

#battery {
  background-color: #11191c; /* Muted green */
  color: #228B22;
  border-color: #228B22;
  border: 3px solid #228B22;
  margin-right: 10px;
}

#battery.warning {
  color: #fab387;
  border-color: #fab387;
  border: 3px solid #fab387;
}

#battery.critical {
  color: #ff6b6b;
  border-color: #ff6b6b;
  border: 3px solid #ff6b6b;
}

#temperature.critical {
  color: #ff6b6b;
}

#cpu.high {
  color: #ff6b6b;
}

#memory.high {
  color: #ff6b6b;
}

#power_profile {
  color: #b4aeb2;
  border-left: 0px;
  border-right: 0px;
}

#moon {
  border-radius: 0px 10px 10px 0px;
  border-right: 0px;
}
